.ribbon-color {
    height: 20px;
    width:140px;
    background-color: red;
}

.ribbon-scolor {
    height: 20px;
    width:140px;
    background-color: green;
}
button{
    color: rgb(13, 17, 17);
    border-radius: 10px;
}

.high{
    background-color: yellow;
}